
    .page-container {
      position: relative;
      
    }

    .container {
      background-color: #fff;
      width: 350px;
      max-height: 500px;
      overflow: auto;
      border-radius: 20px;
      margin: 0 auto;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      border: 22px solid #65491E;
      background-color: white;
      
    }

    .container h1 {
      text-align: center;
      margin-bottom: 20px;
    }

    .container h2 {
      text-align: center;
      margin-bottom: 10px;
    }

    .checkbox-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12px;
    }

    .checkbox-item .checkbox-label {
      flex-grow: 1;
    }

    .checkbox-item .delete-icon {
      color: grey;
      cursor: pointer;
    }

    .checkbox-item .delete-icon:hover {
      color: red;
    }

    .custom-input {
      margin-top: 20px;
      display: flex;
      align-items: center;
    }

    .custom-input input {
      padding: 10px;
      border-radius: 4px;
      border: 1px solid #ccc;
      flex: 1;
      margin-right: 10px;
      font-size: 16px;
    }

    .custom-input button {
      padding: 10px 20px;
      background-color: #668633;
      color: white;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
    }

    .checkbox-container {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .checkbox-container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;
      border-radius: 50%;
      border: 2px solid grey;
    }

    .checkbox-container:hover input ~ .checkmark {
      background-color: #ccc;
    }

    .checkbox-container input:checked ~ .checkmark {
      background-color: #668633;
      border: 2px solid #668633;
    }

    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    .checkbox-container input:checked ~ .checkmark:after {
      display: block;
    }

    .checkbox-container .checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  